<template>
  <span>
    <login-template>
      <span slot="principal">
        
           <h2>Cadastro</h2>
            <input type="text" v-on:change="validarTudo()" v-model="usuario.nome" name="nome" id="nome" placeholder="Digite o seu nome" />
            <input type="email" v-on:change="validarTudo()" v-model="usuario.email" name="email" id="email" placeholder="Digite o seu email" />
            <input  type="password" v-model="usuario.senha" name="senha" id="senha"  placeholder="Digite a sua senha"/>
            <input v-on:change="validarTudo()" type="password" v-model="usuario.senha2"  name="senha2" id="senha2"  placeholder="Repita a senha novamente"/>
            <small :style="style" >{{passwordteste}}</small><br>
            <button :disabled="desativa" class="btn" v-on:click="cadastrar()">Cadastrar</button>
            <a class="btn orange" href="/login">Voltar</a>

      </span>
      <span slot="menuesquerdo">
       <card-menu-vue>
        <img class="responsive-img" src="https://cakeerp.com/wp-content/uploads/2019/10/capa-2-1080x675.png" alt="">
        </card-menu-vue>
      </span>
    </login-template>
     </span>
</template>

<script>
import CardConteudoVue from "../../components/social/CardConteudoVue.vue";
import CardDetalheVue from "../../components/social/CardDetalheVue.vue";
import GridVue from "../../components/layout/GridVue.vue";
import PublicarConteudoVue from "../../components/social/PublicarConteudoVue.vue";
import LoginTemplate from "../../templates/LoginTemplate.vue";
import CardMenuVue from '../../components/layout/CardMenuVue.vue';
import axios from 'axios';

export default {
  components: {
    CardConteudoVue,
    CardDetalheVue,
    GridVue,
    PublicarConteudoVue,
    LoginTemplate,
    CardMenuVue,
  },
  name: "Cadastro",

  data() {
    return {
      cadastro:false,
      validado:false,
      desativa:true,
      usuario:{
        nome:"",
        email:"",
        senha:"",
        senha2:""
      },
      nameteste:"",
      passwordteste:"",
      style:"color:",
    

      

    };
  },

  methods:{
     cadastrar(){

      axios
  .post('http://127.0.0.1:8000/api/cadastro', {
    name:this.usuario.nome,
    email: this.usuario.email,
    password: this.usuario.senha,
    password_confirmation: this.usuario.senha2
  })
  .then(response => {
    console.log(response)
    if (response.data.token) {
      // Login com sucesso
      sessionStorage.setItem('user', JSON.stringify(response.data));
      this.$router.push('/');

    }else if (response.data == false) {
      //Login não existe

      console.log ("login não existe");
      alert("Cadastro inválido.");
    }else {
      // erro de validação

      console.log("erro de validação");
      let erros = ''; 
      for (let erro of Object.values(response.data)) {
        erros+= erro + " ";
      }
      alert(erros);
    }
  })
  .catch(error => alert('Tente novamento mais tarde, server fora do ar.'))
    },
    passteste(){
      if (this.usuario.senha === this.usuario.senha2){
        this.passwordteste = "As senhas conferem";
        this.style = "color:green"
        this.validado = true;
        this.desativa = false;
      }
      else{
        this.passwordteste = "As senhas não conferem"
        this.style = "color:red"
        
        return false
      }
    },
    validarTudo(){
      if (this.usuario.name == '') {  
        this.desativa = true;     
        return false
      }
      else if (this.usuario.email == '') {
         this.desativa = true;
        return false
        
      }
      else if (this.usuario.password == '' && this.usuario.password_confirmation == ''){
        this.desativa = true;
        return false
      }else{
         this.passteste();
      }
 

    }
  }

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}

</style>
