<template>
  <span>
    <login-template>
      <span slot="principal">
           <h2>Login</h2>
            <input type="email" name="email" id="" v-model="usuario.email" placeholder="Digite o seu email"/>
            <input type="password" name="password" v-model="usuario.senha" id="" placeholder="Digite a sua senha" />
            <button class="btn" v-on:click="login()">logar</button>
            <a class="btn orange" href="/cadastro">Criar conta</a>
       
         
      </span>
      <span slot="menuesquerdo">
       <card-menu-vue>
        <img class="responsive-img" src="https://cakeerp.com/wp-content/uploads/2019/10/capa-2-1080x675.png" alt="">
        </card-menu-vue>
      </span>
    </login-template>
     </span>
</template>

<script>
import CardConteudoVue from "../../components/social/CardConteudoVue.vue";
import CardDetalheVue from "../../components/social/CardDetalheVue.vue";
import GridVue from "../../components/layout/GridVue.vue";
import PublicarConteudoVue from "../../components/social/PublicarConteudoVue.vue";
import LoginTemplate from "../../templates/LoginTemplate.vue";
import CardMenuVue from '../../components/layout/CardMenuVue.vue';
import axios from 'axios';

export default {
  components: {
    CardConteudoVue,
    CardDetalheVue,
    GridVue,
    PublicarConteudoVue,
    LoginTemplate,
    CardMenuVue,
  },
  name: "Login",

  data() {
    return {
      usuario:{
        email:"",
        senha:""
      }
    };
  },
  methods:{
    login(){
      axios
  .post('http://127.0.0.1:8000/api/login', {
    email: this.usuario.email,
    password: this.usuario.senha
  })
  .then(response => {
    console.log(response)
    if (response.data.token) {
      // Login com sucesso
      sessionStorage.setItem('user', JSON.stringify(response.data));
      this.$router.push('/');

    }else if (response.data == false) {
      //Login não existe

      console.log ("login não existe");
      alert("Login inválido.");
    }else {
      // erro de validação

      console.log("erro de validação");
      let erros = ''; 
      for (let erro of Object.values(response.data)) {
        erros+= erro + " ";
      }
      alert(erros);
    }
  })
  .catch(error => alert('Tente novamento mais tarde, server fora do ar.'))
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}

</style>
