<template>
  <span>
    <site-template>
      <span slot="principal">
        
           <h2>Perfil</h2>
             <input type="text" v-model="usuario.name" name="nome" id="nome" placeholder="Digite o seu nome" />
            <input type="email" v-model="usuario.email" name="email" id="email" placeholder="Digite o seu email" />
             <div class="file-field input-field">
                <div class="btn">
                  <span>Foto</span>
                  <input type="file" v-on:change="salvaIMG">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
            <input type="password" v-model="usuario.password" name="senha" id="senha"  placeholder="Digite a sua senha"/>
            <input v-on:blur="passteste()" type="password" v-model="usuario.password_confirmation"  name="senha2" id="senha2"  placeholder="Repita a senha novamente"/>
            <small :style="style" >{{passwordteste}}</small><br>
            <button class="btn" v-on:click="atualizar()">Atualizar</button>
            <a class="btn orange" href="/">Voltar</a>

      </span>
     
    </site-template>
     </span>
</template>

<script>
import CardConteudoVue from "../../components/social/CardConteudoVue.vue";
import CardDetalheVue from "../../components/social/CardDetalheVue.vue";
import GridVue from "../../components/layout/GridVue.vue";
import PublicarConteudoVue from "../../components/social/PublicarConteudoVue.vue";
import SiteTemplate from "../../templates/SiteTemplate.vue";
import CardMenuVue from '../../components/layout/CardMenuVue.vue';
import axios from 'axios';



export default {
  components: {
    CardConteudoVue,
    CardDetalheVue,
    GridVue,
    PublicarConteudoVue,
    SiteTemplate,
    CardMenuVue,
  },
  name: "Perfil",

  data() {
    return {
      usuario:false,
      style:"color:",
      passwordteste:"",
      imagem:""
    
    };
  },
  created() {
    let usuarioaux = sessionStorage.getItem('user');
    if (usuarioaux) {
        this.usuario = JSON.parse(usuarioaux);
    }
  },

  methods:{
     atualizar(){
      axios
  .put('http://127.0.0.1:8000/api/perfil', {
    name:this.usuario.name,
    email: this.usuario.email,
    password: this.usuario.password,
    password_confirmation: this.usuario.password_confirmatio,
    imagem:this.usuario.imagem
  },{"headers":{"authorization":"Bearer "+ this.usuario.token}})
  .then(response => {
    console.log(response)
     if (response.data.token) {
      // Atualização com sucesso
      this.usuario = response.data;
      sessionStorage.setItem('user', JSON.stringify(response.data));
        this.flashMessage.success({
                            title: 'Perfil atualizado com sucesso.',
                            
                            time: 5000,
                            flashMessageStyle: {
                                
                            }
                        });
     

    }else {
      // erro de validação

      console.log("erro de validação");
      let erros = ''; 
      for (let erro of Object.values(response.data)) {
        erros+= erro + " ";
      }
       this.flashMessage.error({
                            title: 'Erro ao atualizar os dados',
                            message: erros,
                            time: 5000,
                            flashMessageStyle: {
                                
                            }
                        });
    }

  })
  .catch(error => alert(error))
    },
    salvaIMG(e){
      let arquivo = e.target.files || e.dataTransfer.files;
      /*
        Explicação do código acima:
          - o "e.target.files" pega os dados do arquivo que for 
             colocado pelo user no input
          - o "e.dataTransfer.files" pega os dados do arquivo que 
             o usuário arrastar para o input
      */

      if (!arquivo.length){
        return;
      }

      let reader = new FileReader();
      reader.onloadend = (e) => {
        this.usuario.imagem = e.target.result
      };

      reader.readAsDataURL(arquivo[0]);
      //console.log(this.usuario.imagem)
    },
    passteste(){
      if (this.usuario.senha == this.usuario.senha2){
        this.passwordteste = "As senhas conferem";
        this.style = "color:green"
      }
      else{
        this.passwordteste = "As senhas não conferem"
        this.style = "color:red"
      }
    }
  }

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}

</style>
