<template>
  <span>
    <header> 
       <navbar logo="Social" cor="blue">
          <span slot="links" >
            <li><a href="/">Home</a></li>
            <li v-if="!usuario"><a href="/login">Login</a></li>
            <li v-if="!usuario"><a href="/cadastro">Cadastro</a></li>
            <li v-if="usuario"><a href="/perfil">{{usuario.name}}</a></li>
            <li v-if="usuario"><a v-on:click="sair()">Sair</a></li>
          </span>
       </navbar>
    </header>
    <main>
      <div class="container">
        <FlashMessage></FlashMessage>
        <div class="row">
          <grid-vue tamanho="6"> 
            <slot name="menuesquerdo"></slot>      
          </grid-vue>


          <grid-vue tamanho="6"> 
           <slot name="principal"></slot>
          </grid-vue>
          
      </div>

      </div>
    </main>
    
    <footer-vue logo="Social">
     
    </footer-vue>
  </span>
</template>

<script>
import Navbar from '@/components/layout/Navbar'
import FooterVue from '@/components/layout/FooterVue'
import GridVue from '@/components/layout/GridVue'
import CardMenuVue from '@/components/layout/CardMenuVue.vue'



export default {
  name: 'SiteTemplate',
  data(){
    return {
      usuario:false
    }
  },
  components:{
    Navbar,
    FooterVue,
    GridVue,
    CardMenuVue,
   
  },
  created() {
    let usuarioaux = sessionStorage.getItem('user');
    if (usuarioaux) {
        this.usuario = JSON.parse(usuarioaux);
        this.$router.push('/');
    }
    
  },
  methods:{
    sair(){
      sessionStorage.clear();
      this.usuario = false;
    }
  }
}
</script>

<style>

</style>
