<template>
  <span>
    <header> 
       <navbar logo="Social" cor="blue" url="/" >
       <span slot="links">
        <li><a href="/">Home</a></li>
            <li v-if="!usuario"><a href="/login">Login</a></li>
            <li v-if="!usuario"><a href="/cadastro">Cadastro</a></li>
            <li v-if="usuario"><a href="/perfil">{{usuario.name}}</a></li>
            <li v-if="usuario"><a v-on:click="sair()">Sair</a></li>
       </span>
       </navbar>
    </header>
    <main>
      <div class="container">
        <FlashMessage></FlashMessage>
        <div class="row">
          <grid-vue tamanho="5"> 
             <card-menu-vue>
               <div class="row valign-wrapper">
                    <div class="col s5">
                      <img :src="usuario.imagem" :alt="usuario.name+ ' foto'" class="circle responsive-img"> <!-- notice the "circle" class -->
                    </div>
                    <div class="col s7">
                      <span class="black-text">
                        <h5>{{usuario.name}}</h5>
                      
                      </span>
                    </div>
                  </div>
             </card-menu-vue>  
             <card-menu-vue> 
               <h3>Amigos</h3>
               <li>Murilo</li>
               <li>Maria</li>
               <li>Lucas</li>
             </card-menu-vue>
           
          </grid-vue>


          <grid-vue tamanho="7"> 
           <slot name="principal"></slot>
          </grid-vue>
          
      </div>

      </div>
    </main>
    
    <footer-vue logo="Social">
     
    </footer-vue>
  </span>
</template>

<script>
import Navbar from '@/components/layout/Navbar'
import FooterVue from '@/components/layout/FooterVue'
import GridVue from '@/components/layout/GridVue'
import CardMenuVue from '@/components/layout/CardMenuVue.vue'




export default {
  name: 'SiteTemplate',
  data(){
    return {
      usuario:false
    }
  },
  components:{
    Navbar,
    FooterVue,
    GridVue,
    CardMenuVue
    
   
  },
   created() {
    let usuarioaux = sessionStorage.getItem('user');
    if (usuarioaux) {
        this.usuario = JSON.parse(usuarioaux);
    }else {
       this.$router.push('/login');
    }
    
  },
  methods:{
    sair(){
      sessionStorage.clear();
      this.usuario = false;
      this.$router.push('/login');
    }
  }
}
</script>

<style>

</style>
