<template>

   <site-template>

     <span slot="principal">
    <publicar-conteudo-vue></publicar-conteudo-vue>
    
    <card-conteudo-vue
      perfil="http://materializecss.com/images/yuna.jpg"
      nome="João Correia"
      data="23/04/2021 14:54"
    >
      <card-detalhe-vue
        img=""
        txt="Bom dia, hoje estou feliz."
      ></card-detalhe-vue>
    </card-conteudo-vue>
    </span>
   </site-template>
  
</template>

<script>
import CardConteudoVue from "../../components/social/CardConteudoVue.vue";
import CardDetalheVue from "../../components/social/CardDetalheVue.vue";
import GridVue from "../../components/layout/GridVue.vue";
import PublicarConteudoVue from '../../components/social/PublicarConteudoVue.vue';
import SiteTemplate from '../../templates/SiteTemplate.vue';

export default {
  components: { CardConteudoVue, CardDetalheVue, GridVue, PublicarConteudoVue, SiteTemplate },
  name: "Home",

  data() {
    return {};
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
