<template>
 <footer class="page-footer blue">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">{{logo || "Logo"}}</h5>
                <p class="grey-text text-lighten-4">A sua nova rede social, feita especialmente com Vue + Laravel</p>
              </div>
              <div class="col l4 offset-l2 s12">
               
                <ul>
                  <slot></slot>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2020 {{logo}}
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
</template>

<script>
export default {
  name: 'Footer',
  props:['logo','descricao'],
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
