<template>
  <nav :class="cor || red">
    <div class="nav-wrapper container">
      <a :href="url || '/'" class="brand-logo right">{{logo || 'Logo'}}</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
       <slot name="links"></slot>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'Navbar',
  props:['logo','url','cor'],
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
