<template>
<div class="row">
  <div class="card">
    <div class="card-content">
      <div class="row valign-wrapper">
        <grid-vue tamanho="2">
          <img
            :src="perfil"
            :alt="nome"
            class="circle responsive-img"
          />
          <!-- notice the "circle" class -->
        </grid-vue>
        <grid-vue tamanho="10">
          <span class="black-text">
            <strong>{{nome}}</strong> -
            <small>{{data}}</small>
          </span>
        </grid-vue>
      </div>

     <slot></slot>
    </div>
    <div class="card-action">
      <i class="material-icons">favorite_border</i>
      <i class="material-icons">insert_comment</i>
    </div>
  </div>
  </div>
</template>

<script>
import GridVue from "../layout/GridVue.vue";
export default {
  components: { GridVue },
  name: "CardConteudoVue",
  props: ['perfil','nome','data'],
  data() {
    return {};
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
