<template>
<div class="row">
      <grid-vue class="input-field" tamanho="12">
        <textarea v-model="conteudo"
          name="textarea1"
          id="textarea1"
          class="materialize-textarea"
        ></textarea>
        <label for="textarea1">O que está acontecendo?</label>
      </grid-vue>
        <p>
        <grid-vue v-if="conteudo" class="btn waves-effect waves-light" tamanho="2 offset-s10">Publicar</grid-vue>
        </p>
    </div>
</template>

<script>

export default {
  components: {},
  name: "PublicarConteudoVue",
  props: [],
  data() {
    return {
      conteudo:"",
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
